/* 
* {
    font-family: 'Raleway', sans-serif;
} */


@keyframes color-fill {
    0% {background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 0%, rgba(107, 195, 41, 0)0%);}
    5% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 5%, rgba(107, 195, 41, 0)5%); }
    10% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 10%, rgba(107, 195, 41, 0)10%);}
    15% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 15%, rgba(107, 195, 41, 0)15%);}
     20% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 20%, rgba(107, 195, 41, 0)20%); }
    25% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 25%, rgba(107, 195, 41, 0)25%);}
    30% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 30%, rgba(107, 195, 41, 0)30%);}
     35% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 35%, rgba(107, 195, 41, 0)35%); }
    40% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 40%, rgba(107, 195, 41, 0)40%);}
    45% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 45%, rgba(107, 195, 41, 0)45%);}
     50% {background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 50%, rgba(107, 195, 41, 0)50%);}
    55% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 55%, rgba(107, 195, 41, 0)55%); }
    60% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 60%, rgba(107, 195, 41, 0)60%);}
    65% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 65%, rgba(107, 195, 41, 0)65%);}
     70% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 70%, rgba(107, 195, 41, 0)70%); }
    75% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 75%, rgba(107, 195, 41, 0)75%);}
    80% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 80%, rgba(107, 195, 41, 0)80%);}
     85% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 85%, rgba(107, 195, 41, 0)85%); }
    90% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 90%, rgba(107, 195, 41, 0)90%);}
    95% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 95%, rgba(107, 195, 41, 0)95%);}
    100% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 100%, rgba(107, 195, 41, 0)100%);}
          }

          @keyframes color-fill-reverse {
            100% {background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 0%, rgba(107, 195, 41, 0)0%);}
            95% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 5%, rgba(107, 195, 41, 0)5%); }
            90% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 10%, rgba(107, 195, 41, 0)10%);}
            85% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 15%, rgba(107, 195, 41, 0)15%);}
             80% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 20%, rgba(107, 195, 41, 0)20%); }
            75% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 25%, rgba(107, 195, 41, 0)25%);}
            70% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 30%, rgba(107, 195, 41, 0)30%);}
             65% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 35%, rgba(107, 195, 41, 0)35%); }
            60% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 40%, rgba(107, 195, 41, 0)40%);}
            55% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 45%, rgba(107, 195, 41, 0)45%);}
             50% {background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 50%, rgba(107, 195, 41, 0)50%);}
            45% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 55%, rgba(107, 195, 41, 0)55%); }
            40% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 60%, rgba(107, 195, 41, 0)60%);}
            35% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 65%, rgba(107, 195, 41, 0)65%);}
             30% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 70%, rgba(107, 195, 41, 0)70%); }
            25% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 75%, rgba(107, 195, 41, 0)75%);}
            20% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 80%, rgba(107, 195, 41, 0)80%);}
             15% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 85%, rgba(107, 195, 41, 0)85%); }
            10% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 90%, rgba(107, 195, 41, 0)90%);}
            5% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 95%, rgba(107, 195, 41, 0)95%);}
            0% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 100%, rgba(107, 195, 41, 0)100%);}
                  }
        




section {
    padding-top: 150px;
    background-color: rgb(37, 34, 34);
}


body{
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
    /* padding: 20px 200px; */
   
}
#logo { display: flex;
    align-items: center;
    min-width: 147px;
    width: 147px;
    color: #ffffff;
    /* border: 3px solid yellow; */
    padding: 0%;
    height: 60px;

}





.my-nav-bar {
    display: flex;
    background-color: #296a12;
    justify-content: space-between;
    padding:12px 170px 12px 185px;
    position: fixed;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    align-items: center;
     top: 0;
     left: 0;
     right: 0;
     z-index: 3;
    
}
.my-nav-bar h6 {
    font-size:x-small;
    font-weight: 1000;
    letter-spacing:2px ;
}

.Other-bars {
    display: flex;
    /* border: 2px solid blue; */
    align-items: center;
    font-size: 14px;
    cursor:pointer;
    letter-spacing: 1px;
}
.color-fill:hover, .pop-up-event-dropdown-contents:hover, .Hero-footer-line:hover{
    animation-name: color-fill;
    animation-duration: 0.3s;
    animation-timing-function: linear;top: 0;
    left: 0;
    right: 0;

    background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 100%, rgba(107, 195, 41, 0)100%);
}

.color-fill-reverse {
    animation-name: color-fill-reverse;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}
    
    .pop-up-color-fill {
    animation-name: color-fill;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    
}
    

.Other-bars  div  {
    color: white;
    padding: 10px 15px ;
    box-sizing: border-box; 
}

.Other-bars a, #Event-drop-down a, .pop-up a{
    text-decoration: none;
    color: white;
}

#Event-drop-down {
    visibility: hidden;
    position: fixed;
    background-color: black;
    opacity: 0.8;
    padding: 15px  0px;
    width: 150px;
    box-shadow: 0px 8px 16px 0px #296a12;
    z-index: 4;
    right: 452px;
    cursor:pointer;
    top: 67px;
    text-align: justify;
    justify-content: center;
    font-size: 14px;
  }

  #Event-drop-down div { 
    padding: 5px 15px;
    cursor:pointer;
    
  }
  
  .minimize-icon {
    border: 1px solid white;
    position: fixed;
    top: 18px;
    right: 30px;
    width: 30px; 
    height: 30px;
    cursor:pointer;
    display: none;
  }

  .minimize-icon:hover {
        background-color: rgba(107, 195, 41);

  }

  /* .navbar-events:hover #Event-drop-down{
    display: block;
  } */

  
  
  main { 
    /* padding: 160px; */
    color: #ffffff;
    box-sizing: border-box;
    /* border: 4px solid green; */
   

}

hr {
    
    width: 94%;
    z-index: 8;
    top: 60px;
    text-align: center;
    position: fixed;
    left: 3%;
    border: 0.2px solid black;
    opacity: 0.3;
    visibility: hidden;
    
}

.pop-up {
    text-align: center;
    padding: 2%;
    background-color: #296a12;
    margin-top: 70px;
    line-height: 2;
    z-index: 6;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    visibility: hidden;
    cursor:pointer;

}
#pop-up-Event-drop-down {
    
    /* display: flex; */

    padding-top: 5px;
    flex-direction: column;
    gap: 5px;
    line-height: 1.5;
    display: none;
    
}
/* NAV BAR AND ITS CHILDREN ENDED HERE */

/* SECTION TWO STARTED I.E HERO PAGE */



.scrol-images-background{

    padding: 80px 13%;
    width: 100%;
    height: 90vh;
    position: relative;
    top:  -85px;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/megaSummit.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    z-index: 2.5;
    
}

.scrol-images-writeup-left {
    padding-top: 15%;
    text-shadow: 0px 0px 1px black;
    
}
.hero-head{
    color: #6BC329;
    font-size: 42px;
    font-weight:600;
    letter-spacing: 3px;
}

.Hero-head-span {
    color: white;
}

.hero-content{
    line-height: 2rem;
    font-size:16.6px;
    letter-spacing: 2px;
    font-weight:300;
    width: 500px;
    max-width: 90%;
    
}

.Hero-footer{
    display: flex;
    /* border: 2px solid greenyellow; */
    padding: 4px 0px;
   
}

.Hero-footer a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 4px;
    font-weight: 400;
}
.Hero-footer-line{
 width: 80%;
 height: 2px;
 /* border: 2px solid red; */
 position: relative;
 left: 105%;
 top: -50% ;
 border-radius: 30px;
 background-color: #ffffff;
 
}


#scrol-images-writeup-right-line1, #scrol-images-writeup-right-line2, #scrol-images-writeup-right-line3{
    width: 30px;
    height: 6px;
    border-radius: 1px;
    background-color: #ffffff;
}

.scrol-images-writeup-right{
    display: flex;
    gap: 23px;
    flex-direction: column;
    position: absolute;
    right: 150px;
    top: 340px;
}

.hero-color-fill {
    animation-name: color-fill;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 100%, rgba(107, 195, 41, 0)100%);
}

/* THE SECTION THREE BEGINS HERE AFTER THE HERO PAGE */

.section-3-WeAreYPF {
    display: flex;
    background-color: #ffffff;
    
    /* background:  linear-gradient(rgba(240, 229, 229, 0.5), rgba(0, 0, 0, 0.5)), url("images/skill3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    justify-content:center;
    color: rgb(98, 98, 98);
    gap: 2%;
    padding:  190px 0px 60px;
    font-size: 15px;
    margin-top: -230px;
    z-index: 2;
    line-height: 30px;
    font-family: 'Times New Roman', Times, serif;
  border: 2px solid green;
}

.section-3-WeAreYPF-left, .section-3-WeAreYPF-right {

    width: calc(100% / 2.71); 
      /* border: 4px solid yellow; */
      text-align: justify;
      min-width: 520px;
      
      
}

.section-3-WeAreYPF-left h1 {
    color: black;
    font-size: 26Px;
}

.section-3-WeAreYPF-left button {
    color: white;
    font-weight: bold;
    background-color: #6bc329;
    font-size: 15Px;
    padding: 18px 30px;
    border: none;
}

.section-3-WeAreYPF-right img {
    width: 100%;
    height: 325px;
}
/* SECTION THREE STYLING ENDED  */

.our-drive {

    background-color: #f0f0f0 ;
    padding: 40px 0px 50px;
    color: black;
    text-align: center;
    margin-top: -5px;
}

/* .myOurDriveSectionBoxes  */

.our-drive-3box-container{
   
    /* display: flex; */
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    box-sizing: border-box;
    padding: 20px 12.5% 40px;
    text-align: center;
    box-sizing: border-box;

}
.our-drive h2 {
    font-size: 28px;
    line-height: 35px;
}

.myOurDriveSectionBoxes {
    width: 100%;
    /* border: 3px solid red; */
    
    background-color: #ffffff;
    min-width: 200px;
    color: rgb(98, 98, 98);
    padding: 35px 30px 60px;
    line-height: 30px;
    box-sizing: border-box;
    font-size: 14px;
}

.myOurDriveSectionBoxes:hover, .myOurDriveSectionBoxes:hover h2, .myOurDriveSectionBoxes:hover h1{
    background-color: #6bc329;
    color: #ffffff ;
}

.myOurDriveSectionBoxes h1{ 
    color: #6bc329;
    font-size: 2.5rem;

}

.myOurDriveSectionBoxes h2{

    color: black;
    font-size: 18px;
    line-height: 14.5px;

}

/* SECTION 5 WE HAVE SOMETHING TO BE PROUD OF */

.our-pride-section{
    text-align: center;
    padding: 50px 12%;
    /* border: 4px solid indianred; */
    background:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/backgroundImage2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;

}

.our-pride-section h2{ 

    color: #6bc329;
    line-height: 24px;
    letter-spacing: 0.5px;
    /* word-spacing: 2px; */
    font-size: 30px;
    font-weight: 600;
}


.our-pride-section-groups {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;

}

.our-pride-section-groups  h1{ 
    
    font-size: 2.5rem;

}
.our-pride-section-groups  h2{ 

    font-size: 35px;
    line-height: 35px;
    letter-spacing: 5px;
    font-weight: 600;

}
.our-pride-section-groups  h3{ 

    font-size: 20px;
    line-height: 16px;
    font-weight: 700;

}
    



@media (max-width: 1160px) {

.my-nav-bar {
    
    padding:12px 20px;
    }

    #Event-drop-down {
        right: 302px;
       
    }

}




@media (max-width: 800px) {

    .minimize-icon{
        display: block;
    }

    .Other-bars {
        display: none;
    }

.my-nav-bar {
    
    padding:12px 2%;
    }

    #Event-drop-down {
        content-visibility: hidden;
        padding: 0px;
        opacity: 0.95;
        right: -1000px;
       

        /* display: none;    */
    }

    .scrol-images-background{

        padding: 0px 2% 10px 2%;
        width: 100%;
        height: 60vh;

    }

    .scrol-images-writeup-right{
       
        right: 5%;
        top: 50%;
    }


}


@media (min-width: 761px) {
    .pop-up, hr {
        
        margin-top: -7000px;
             z-index: -6;
        visibility: hidden;
       
    }

} 
